
.breadcrumb{
  list-style:none;
  display: inline-block;
  background-color: transparent !important;
  margin-bottom: 30px !important;
  padding: 8px 15px 0px 15px !important;
}

.breadcrumb li {
  float:left;
}

.breadcrumb > li+li:before {
	display: none !important;
}
  
.breadcrumb li a i {
	padding-right: 5px;
}

.breadcrumb li a,
.breadcrumb li span {
  color:#2dbfc1;
  font-weight: bold;
  display:block;
  background: #ffffff;
  text-decoration: none;
  position:relative;
  height: 30px;
  line-height: 29px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  box-shadow: 0px 1px 1px 0px rgba(189, 187, 191, 0.65);
}

.breadcrumb li:first-child a {
	padding: 0 10px 0 15px !important;
}

.breadcrumb li:first-child a:after {
    box-shadow: 0px 1px 0px 0px rgba(189, 187, 191, 0.65);
}

.breadcrumb li:first-child a:before {
    border: none;
}

.breadcrumb li:not(:first-child) span:before {
    left: -20px;
    border-left-color: transparent;
    box-shadow: 0px 1px 0px 0px rgba(189, 187, 191, 0.65);
}

.breadcrumb li a:before, 
.breadcrumb li span:before, 
.breadcrumb li a:after, 
.breadcrumb li span:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #ffffff;
    border-width: 15px 10px;
    width: 0;
    height: 0;
}

.breadcrumb li a:after,
.breadcrumb li span:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
}

.breadcrumb li.active a,
.breadcrumb li.active span {
    color: #000;
    font-weight: normal;
}
