<div class="container-fluid container-fullw">
  <div class="row"> 
    <div class="col-md-12">
      <div ncy-breadcrumb ng-hide="$state.current.name == 'contacts.index'"></div>
    </div>
  </div>
  <ui-view></ui-view>
</div>