<!-- render Login View  -->
<div class="row">
  <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
    <div class="logo text-center">
      <img src="assets/images/branding.svg" class="img-responsive" />
    </div>
    <!-- start: LOGIN BOX -->
    <div class="box-login">
      <form class="form-login" name="myForm">
        <span class="message" ng-show="myForm.$dirty">Please provide all fields</span>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="userEmail" placeholder="Email">
        </div>
        <div class="form-group form-actions">
          <input type="password" class="form-control password" ng-model="userPassword" placeholder="Password">
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-violet btn-block" ng-click='Login(userEmail,userPassword)'>
            Login
          </button>
        </div>
      </form>
    </div>
    <!-- end: LOGIN BOX -->
  </div>
</div>