<div id="contacts" class="container-fluid container-fullw">
    <div class="row">
	<div class="col-md-12">
	      <ol class="breadcrumb " style="width: auto;" >
	      	<li >
	      	<span>Contacts</span>
	      	</li>
	      	<li >
	      	<span style="color: #000;"  > {{infoOne[0].LastName}} {{infoOne[0].FirstName}}</span>
	      	</li>
	      </ol>
    	</div>
     <div class="col-md-12"> 
		      <div class="row">
		            <div class="col-md-9">
		              <h3 class="page-title">
		              {{infoOne[0].LastName}}<!-- get only latest updated if old  {{infoOne[infoOne.length -1].LastName}}--> 
		              ({{infoOne[0].FirstName}})
		          </h3> 
		            <button id="btn-add-contact"  type="button" class="btn btn-primary btn-xs" >
		              		<i class="fa fa-envelope"></i> &nbsp;Send Email
		            </button>
		            <button id="btn-add-contact"  type="button" class="btn  btn-xs btn-azure" >
		              		<i class="fa fa-shopping-bag"></i> &nbsp;Send Mail
		            </button>
		            <button id="btn-add-contact"  type="button" class="btn btn-primary btn-xs btn-dark-bluegreen" >
		              		<i class="fa fa-print"></i> &nbsp;Print Summary
		            </button>
		              <span class="hidden-xs">Last Updated: <b>
		              	<i>
		              	 {{ infoSummary.DateModified | date : format : timezone}}
		           		<!-- {{infoSummary.DateModified}} -->
		           	</i>
		            </div>
		          </div>
<div class="row">
            <div class="col-xs-12 col-md-9">
           	 <div class="panel panel-white">
                	<div class="panel-body letter-scroll-table">
                  		<div class="contacts-main">
                  			<!-- ====================== -->
			<ul class="nav nav-tabs" >
				<li class="active uib-tab-heading-transclude"><a  href="#1" data-toggle="tab">SUMMARY</a></li>
				<li><a href="#2" data-toggle="tab">CLIENTS</a></li>
				<li><a href="#3" data-toggle="tab">LOANS</a></li>
				<li><a href="#4" data-toggle="tab">ISURANCE</a></li>
				<li><a href="#5" data-toggle="tab">FINANCIALS</a></li>
				<li><a href="#6" data-toggle="tab">WORKFLOW</a></li>
				<li><a href="#7" data-toggle="tab">RECORDS</a></li>
			</ul>

			<div class="tab-content ">
				<div class="tab-pane active" id="1">
			          		<div ng-include="'app/controllers/infos/tab-content/summary.html'"></div>
				</div>
				<div class="tab-pane" id="2">
					<div ng-include="'app/controllers/infos/tab-content/clients.html'"></div>
				</div>
				<div class="tab-pane" id="3">
					<h3>add clearfix to tab-content (see the css)</h3>
				</div>
				<div class="tab-pane" id="4">
					<h3>add clearfix to tab-content (see the css)</h3>
				</div>
				<div class="tab-pane" id="5">
					<h3>add clearfix to tab-content (see the css)</h3>
				</div>
				<div class="tab-pane" id="6">
					<h3>add clearfix to tab-content (see the css)</h3>
				</div>
				<div class="tab-pane" id="7">
					<h3>add clearfix to tab-content (see the css)</h3>
				</div>
				</div>
                  			<!-- ====================== -->
                    		</div>
                	</div>
          	  </div>
        </div>


        <!-- ================================== -->

		<div class="col-xs-12 col-md-3">
			<div class="panel panel-white radius">
				<div class="panel-heading border-bottom">
					<i class="fa fa-tag"></i> <b>TAGGED TO  {{infoOne[0].FirstName}}</b>
					<ct-paneltool class="panel-tools" tool-refresh="load1">
						<a href="#" >
							<i class=" ti-angle-down"></i> 
						</a>
					</ct-paneltool>
				</div>
				<div class="panel-body">
					<button id="btn-add-contact"  type="button" class="btn  btn-xs" >
		              				<i class="fa fa-envelope"></i> &nbsp;James Punnet

		           			</button>
		           			<button id="btn-add-contact"  type="button" class="btn  btn-xs btn-dark-bluegreen" >
				              		<i class="fa fa-plus"></i> &nbsp;Create Tag
				             </button>
				</div>
			</div>
			<!-- =================================== -->
			<div class="panel panel-white radius">
				<div class="panel-heading border-bottom">
					<i class="fa fa-file-text"></i>&nbsp;<b>NOTES</b>&nbsp;
					<span class="badge">1</span>
					<ct-paneltool class="panel-tools" tool-refresh="load1">
						<a href="#" >
							<i class=" ti-angle-down"></i> 
						</a>
					</ct-paneltool>
				</div>
				<div class="panel-body">
					<h5><b>NOTE HEADING SAMPLE <b></h5>
					<p>Sea the fifth was grass seasons one rule, Beginning earth theam bearing.</p>
				</div>
				<div class="panel-footer border-top">
					<p class="no-margin">
					<button id="btn-add-contact"  type="button" class="btn  btn-xs btn-dark-bluegreen" >
						<i class="fa fa-plus"></i> &nbsp;Create Note
				             </button>
					</p>
				</div>
			</div>

			<!-- ====================================== -->
		
			<div class="panel panel-white radius">
				<div class="panel-heading border-bottom">
					<i class="fa fa-list"></i>&nbsp;<b>TASK</b>&nbsp;
					<span class="badge badge-danger">3</span>
					<ct-paneltool class="panel-tools" tool-refresh="load1">
						<a href="#" >
							<i class=" ti-angle-down"></i> 
						</a>
					</ct-paneltool>
				</div>
			
				
			</div>
		</div>


        <!-- ================================== -->
</div>



        </div>
    </div>
</div>