<div class="row" style="margin-left: 5px;">
	<div class="col-xs-12">

<div class="row">
		<label><b>Clients<b></label> &nbsp;<span class="badge">{{infoOne.length}}</span>

          <div class="pull-right">
              <button type="button" class="btn btn-primary btn-sm btn-dark-bluegreen">
              <img src="./assets/images/add_lg.svg" width="17px" > &nbsp;Add Existing
            </button>
            <button type="button" class="btn btn-primary btn-sm">
              <img src="./assets/images/add_lg.svg" width="17px" > &nbsp;Add Client
            </button>
          </div>
</div><br>

<div class="row">
                        <table class="table table-bordered">
                            <thead style="background-color: #efeff0;">
                                <tr>
                                    <th>Name</th>
                                    <th>Preffered Name</th>
                                    <th>DOB</th>
                                    <th>Gender</th>
                                    <th>Smoker</th>
                                    <th>Phone</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody  >
                                <tr  ng-repeat="attr in infoOne">
                                    <td style="background-color: #ffffff;"> {{attr.LastName}} {{attr.FirstName}}</td>
                                    <td style="background-color: #ffffff;"> {{attr.PreferredName}}</td>
                                    <td style="background-color: #ffffff;">{{ attr.DOB | date : format : timezone}}</td>
                                    <td style="background-color: #ffffff;"> {{attr.Gender}}</td>
                                    <td style="background-color: #ffffff;"> {{attr.SmokerStatus}}</td>
                                    <td style="background-color: #ffffff;"> 
			<div ng-repeat="(key, value) in attr.Phone">
				<div ng-switch="value.Type">
					<div ng-switch-when="Home">
						<i class="fa fa-home"></i>{{value.Number}},
					</div>
					<div ng-switch-when="Mobile">
						<i class="fa fa-mobile-phone"></i>{{value.Number}},
					</div>
					<div ng-switch-when="Work">
						<i class="fa fa-briefcase"></i>{{value.Number}},
					</div>
					<div ng-switch-default>
						N/A
					</div>
				</div>
			</div>
                                    </td>
                                    <td style="background-color: #ffffff;"> 
                                    {{attr.Role}}
	                                    <i class="fa fa-pencil-square-o"></i>
	                                    <i class="fa fa-trash-o"></i>
                                   </td>
                                </tr>
                            </tbody>
                        </table>
          

</div>
	</div>


<!-- Relations -->
	<div class="row"  style="margin-left: 5px;">
		<label><b>Relationships<b></label> &nbsp;<span class="badge">0</span>
			<div class="pull-right">
			              <button type="button" class="btn btn-primary btn-sm">
			              	<img src="./assets/images/add_lg.svg" width="17px" > &nbsp;Add Relationship
			            </button>
			        </div>
	</div>
	<br>
	<div class="row" style="margin-left: 5px;">

                        
                                <div class="well">
                                    <address>
                                    	<center>
                                    		<label style="padding-top: 30px;">No Relationships Added</label>
                                    	</center>
                                      
                                    </address>
                                </div>
	</div>
<!-- Relations -->
<!-- Contact Information -->

<div class="row"  style="margin-left: 5px;">
		<label><b>Contaction Information<b></label> 
			
	</div>
	<br>
	<div class="row" style="margin-left: 5px;">

                        
                                <div class="well">
                                  
                                </div>
	</div>

<!-- Contact Information -->

</div>