<div class="row">
<div class="col-xs-12 col-md-5">

	<div class="panel panel-white" id="panel1">
		<div class="panel-heading ">
			<h4 class="panel-title"><b>Clients</b></h4>
			<ct-paneltool class="panel-tools" tool-refresh="load1">
				<a href="#" style="color: #3baebb;" >
					VIEW DETAILS<i class=" ti-angle-double-right"></i>
				</a>
			</ct-paneltool>
		</div>
		<div class="panel-body" >
			
		<table class="table table-bordered radius-style" style="margin-top: -20px;">
                                <thead>
                                    <tr>
                                        <th class="t1c" style="padding-left:20px;">ADULTS</th>
                                        <th  style="padding-left:20px;" class="hidden-xs">
                                        	<!-- {{infoOne[0].FirstName}} -->
                                        		<div ng-repeat="attr in infoOne" style="font-size: 12px;">
                                        			<div ng-if="attr.Role == 'Adult'">
                                        				  {{attr.Title}}.
					<font title="{{attr.Title}}. {{attr.FullName}}">
						{{attr.FullName | limitTo: 20 }}{{attr.FullName.length > 15 ? '...' : ''}}
					</font>
                                        			</div>
				     	
				  </div>
                                        </th>
                                    </tr>
                                      <tr>
                                        <th class="t1c">CHILDREN</th>
                                        <th class="hidden-xs">
                                        		<div ng-repeat="attr in infoOne" style="font-size: 12px;">
                                        			<div ng-if="attr.Role == 'Child'">
                                        				
					<font title="{{attr.Title}}. {{attr.FullName}}">
						{{attr.FullName | limitTo: 20 }}{{attr.FullName.length > 15 ? '...' : ''}}
					</font>
                                        			</div>
				     
				  </div>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th class="t1c">PHONE</th>
                                        <th class="hidden-xs">
                                        	<div ng-repeat="attr in infoOne" style="font-size: 12px;">
                                        			 <div ng-repeat="(key, value) in attr.Phone">
						   {{value.Number}},
					      </div>
				     
				  </div>

                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="t1c">EMAIL</th>
                                        <th class="hidden-xs">
                                        		<div ng-repeat="attr in infoOne" style="font-size: 12px;">
                                        			 <div ng-repeat="(key, value) in attr.Email">
						   <font title="{{value.EmailAddress}}" style="color: #3baebb;" >
						{{value.EmailAddress | limitTo: 20 }}{{value.EmailAddress.length > 15 ? '...' : ''}}
						</font>
					      </div>
				     
				  </div>
                                        </th>
                                    </tr>
                                     <tr>
                                        <th class="t1c">ADDRESS</th>
                                        <th class="hidden-xs">
				<img src="assets/images/dunedin-map.jpg" style="width: 160px; height: auto;">
                                        	 <div ng-repeat="attr in infoSummary.Addresses" style="font-size: 12px;">
                                        			 <!-- <div ng-repeat="(key, value) in attr.Addresses"> -->
						
						{{attr.country}}<br>
						{{attr.locality}}<br>
						{{attr.stateShort_Name}}
						{{attr.postal_code}}
					      <!-- </div> -->
				     
			  </div>

                                        </th>
                                    </tr>
                                </thead>
                            </table>



		</div>
	</div>

	
</div>
<!--  -->
<div class="col-xs-12 col-md-7">
		<div class="panel panel-white" id="panel2">
			<div class="panel-heading">
			<h4 class="panel-title"><b>Records</b></h4>
			<ct-paneltool class="panel-tools" tool-refresh="load1">
				<a href="#" style="color: #3baebb;" >
					VIEW DETAILS<i class=" ti-angle-double-right"></i>
				</a>
			</ct-paneltool>
			</div>
		<div class="panel-body">
			
		<table class="table table-bordered radius-style" style="margin-top: -20px;">
	                                <thead>
	                                    <tr>
	                                        <th  style="padding-left:20px;">
	                                       <i class="fa fa-calendar"></i>
	                                        Date
	                                      </th>
	                                        <th  style="padding-left:20px; text-align: center;" class="hidden-xs">
	                                        	<i class=" ti-layout-grid2"></i>
	                                        	Transaction
	                                        </th>
	                                    </tr>
	                                      <tr>
	                                        <th class="t2c">02 Jun 2016</th>
	                                        <th class="hidden-xs ">
	                                        	<font class="second-padding">Reffered to <b>Stuart McLeod</b></font>
	                                        </th>
	                                    </tr>
	                                     <tr>
	                                        <th class="t1c">01 Jun 2016</th>
	                                        <th class="hidden-xs t1c">
	                                        	<font class="second-padding">
	                                        		Sent loan application to Westpac <br><label class="second-padding">email:</label>
	                                        		<b  class="second-padding">wes@email.com</b>
	                                        	 </font>

	                                        </th>
	                                    </tr>
	                                    <tr>
	                                        <th class="t2c">01 Jun 2016</th>
	                                        <th class="hidden-xs">
	                                        	<font class="second-padding">Forwarded loan application to 
	                                        		<br>
	                                        		<b  class="second-padding">Stuart McLeod</b>
	                                        	</font>
	                                        </th>
	                                    </tr>
	                                </thead>
	                            </table>


		</div>


	</div>
	<!-- ==================== -->
	<div class="panel panel-white radius">
				<div class="panel-heading border-bottom">
					<h4 class="panel-title"><b>Loans</b></h4>
					<ct-paneltool class="panel-tools" tool-refresh="load1">
						<a href="#" style="color: #3baebb;" >
							VIEW DETAILS<i class=" ti-angle-double-right"></i>
						</a>
					</ct-paneltool>
				</div>
				<div class="panel-body">
					<div class="row">
					  <div class="col-sm-3 nopadding"><font style="padding-left: 10px;"><i class="fa fa-dollar"></i>120,000</font></div>
					  <div class="col-sm-5 nopadding">
					  	&nbsp;Borrowed by  {{infoOne[0].FirstName}} from <span>Wespac</span></div>
					  <div class="col-sm-4 nopadding" style="color: #3baebb;">
					  &nbsp;Submitted to Lender</div>
					</div>
				</div>
			</div>
</div>
</div>