<!-- start: TOP NAVBAR -->
<header class="navbar navbar-default navbar-static-top"  ng-hide="$state.current.name === 'login'">
  <!-- start: NAVBAR HEADER -->
  <div class="navbar-header">
    <a class="sidebar-mobile-toggler pull-left btn no-radius hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" ng-click="ToggleMenu()">
      <i class="fa fa-bars"></i>
    </a>

    <a class="navbar-brand" href="index.html"> <img src="assets/images/branding.svg" alt="Packet" style="width:81px; height:25px;"/> </a>
    <a class="navbar-brand navbar-brand-collapsed" href="index.html"> <img src="assets/images/logo-collapsed.png" alt="" /> </a>
  </div>
  <!-- end: NAVBAR HEADER -->
  <!-- start: NAVBAR COLLAPSE -->
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-left hidden-sm hidden-xs">
      <li class="sidebar-toggler-wrapper">
        <div>
          <button class="btn sidebar-toggler visible-md visible-lg" ng-click="ToggleMenu()">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </li>
      <li>
        <a href="#" class="toggle-fullscreen"> <i class="fa fa-expand expand-off"></i><i class="fa fa-compress expand-on"></i></a>
      </li>
      <li>
        <form role="search" class="navbar-form main-search">
          <div class="form-group">
            <input type="text" placeholder="Enter search text here..." id="search" class="form-control">
            <button class="btn search-button" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </li>
      <li>
        <div class="launch">
          <a href="#" class="btn btn-dark-violet">
            <i  class="fa fa-refresh"></i>
          </a>
        </div>
      </li>
      <li>
        <div class="launch">
          <a href="#" class="btn btn-dark-bluegreen">
            <i  class="fa fa-rocket"></i>
          </a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-right">
      <!-- start: MESSAGES DROPDOWN -->
      <li class="welcome-name">
        <a class=""> Welcombe Back, <span class="login-name">  James Punnet</span></a>
      </li>
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-caret-down"></i> </a>
        <ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large animated fadeInUpShort">
          <li>
            <a ng-click="Logout()"> Logout</a>
          </li>
        </ul>
      </li>
      <li class="settings-icon">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
          <i class="ti-settings"></i> 
        </a>
      </li>
      <li>
        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
          <i class="fa fa-tag"></i> 
        </a>
      </li>
      <li>
        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
          <i class="fa fa-power-off"></i> 
        </a>
      </li>
      <li>
        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> 
          <span class="badge notification"></span> <i class="fa fa-bell-o"></i> 
        </a>
      </li>
    </ul>
  </div>
  
  <!-- end: NAVBAR COLLAPSE -->
</header>
<!-- end: TOP NAVBAR -->